 * {
     margin-left: 1px;
     margin-right: 1px;
 }

 body {
     width: 99.9%;
     overflow-x: hidden;
 }

 p {
     font-size: 10px;
     color: red;
 }

 table {
     /*设置缩放原点和缩放比例*/
     transform-origin: 10px 10px;
     -webkit-transform: scale(0.7);
     width: 300px;
 }

 table,
 tr,
 th {
     border: 0px 0px 0px 0px;
     border-spacing: 0px;
 }

 table tr th {
     /*width: 500px;*/
     font-size: 12px !important;
     border: 0.1px solid black;
     border-collapse: collapse;
 }

 /*备注：两个canvas，dotGraphic绘点数图，背景色淡黄，处于底层， tooltip展示悬停效果，处于顶层，背景色必须是透明。二者大小完全一样，重叠*/
 canvas {
     border: 0px solid black;
     display: block;
     background: transparent;
     width: 900px;
     height: 500px;
     position: absolute;
     /*background-color: rgb(193, 230, 198);*/

 }

 #dotGraphic {
     /*position: relative;*/
     z-index: 1;
 }

 #left {
     width: 19%;
     height: 620px;
     float: left;
     /*border: 1px solid gray;*/
     margin-left: 5px;
     line-height: 20px;
 }

 #filePicker {
     width: 89%;
 }

 #right {
     width: 63%;
     height: 620px;
     /*border: 1px solid gray;*/
     float: left;
 }

 #info {
     width: 17%;
     height: 620px;
     /*border: 1px solid gray;*/
     float: left;
 }

 #search-input,
 #cycle,
 #latticeValue,
 #beginDate,
 #endDate {
     width: 60%;
     /*border: 2px;*/
 }

 label,
 input,
 a {
     margin-left: 5%;
     font-size: 11pt;
 }

 button {
     margin-left: 25%;
     height: 4%;
     margin-top: 5%;
     width: 60%;
 }

 ul {
     list-style: none;
     padding-left: 0px;
 }

 #tab {
     /*width: 498px;
        height: 130px;*/
     /*border: 1px solid #ddd;*/
     /*box-shadow: 0 0 2px #ddd;*/
     /*margin: 100px 0 0 100px;*/
     /*处理超出的内容*/
     /*overflow: hidden;*/
     z-index: 0;
 }

 /*选项卡的头部*/
 #tab-header {
     background-color: #F7F7F7;
     height: 16px;
     text-align: center;
     position: relative;
     width: 98%;
 }

 #tab-header ul {
     width: 200px;
     padding-left: 70%;
 }

 #tab-header ul li {
     float: left;
     height: 15px;
     /*width: 90px;*/
     /*padding: 0 1px;
     border-bottom: 1px solid #dddddd;*/
     font-size: 8pt;
 }

 #tab-header ul li.selected {
     background-color: white;
     font-weight: bolder;
     border-bottom: 0;
     color: orangered;

     /*border-left: 1px solid #dddddd;
     border-right: 1px solid #dddddd;
     padding: 0;*/

 }

 #tab-header ul li:hover {
     color: orangered;
 }

 #tab-content {
     position: relative;
 }

 /*主要内容*/
 #tab-content .dom {
     display: none;
 }

 #tab-content .dom ul li {
     float: left;
     /*background-color: red;*/
     /*width: 225px;*/
 }

 #tab-content .dom ul li a:hover {
     color: orange;
 }

 #kline_tip {
     z-index: 2;
 }